<footer>
    &copy; ${(new Date()).getFullYear()} ${out.global.site.title} OpenRCT2.org. <a href="mailto:mail@openrct2.org">Mail webmaster.</a> <a href="https://github.com/Limetric/OpenRCT2.org">Website code can be found on GitHub.</a>
</footer>