<include('../layouts/layout.marko', data)>
    <@body>
<main role="main" class="container">
    <div class="headliner-template">
        <h1>${data.error.status} - ${data.error.statusMessage}</h1>
        <p class="lead">${data.error.message}</p>
    </div>
</main>
    </@body>
</include>