html {
    height: 100%;
}
body {
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-y: scroll;
  height: 100%;
}
header {
  height: 100px;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;

  background-color: #71abed;
  color: white;
}
.container {
  width: 79%;
  min-width: 979px;
  max-width: 1340px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}

.header_logo a {
  text-decoration: none;
}
.header_logo span {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 9999;
  line-height: 100px;
  color: white;
  font-size: 24pt;
  font-family: 'Oswald', sans-serif;
}
.header_logo img {
  vertical-align: middle;
  padding-right: 15px;
}


header nav {
  position: absolute;
  bottom: 0;
  right: 0;
}
header nav ul {
  height: 50px;
}
header nav ul li {
  display: inline;
  line-height: 50px;
  padding: 10px;
}

header nav ul li a {
  color: white;
  text-decoration: none;

}
header nav ul li:hover {
  border: 2px solid white;
  border-radius: 3px;
  padding: 8px;
}

header .uppermenu {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  height: 40px;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.uppermenu a {
  display: inline-block;
  color: white;
  text-decoration: none;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
}
.uppermenu a.darklink {
  background-color: rgba(0,0,0,0.5);
  border-bottom-right-radius: 5px;
}
.uppermenu a.imglink {
  padding: 0;
}
.uppermenu img {
  height: 45px;
  margin: -10px 10px 0 -15px;
  border-bottom-left-radius: 5px;
  vertical-align: middle;
}

footer {
    background-color: #71abed;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #C6DDF8;
    margin: 0;
    padding: 0;
}
