<include('../../layouts/layout.marko', data)>
    <@body>
<main>
        <h1><img src="/assets/images/icons/windows.svg" alt="Windows icon"> <span><b>Extract RCT2 files on Windows</b> - Quickstart Guide</span></h1>
        <p>If you're on Windows, all you need to do is install the game as you would normally.</p>
        <p class="flex"><a href="../install/windows" class="button colored">Continue Guide: Install OpenRCT2 on Windows</a></p>
</main>
    </@body>
</include>