{
  "base": {
    "host": {
      "address": "127.0.0.1",
      "port": 4000
    },
    "database": {
      "host": "",
      "port": 3306,
      "user": "",
      "password": "",
      "databaseName": "",
      "connectionLimit": 10
    },
    "configReloadTimeSeconds": 900
  },
  "development": {
    "publicUrl": "http://localhost:4000"
  },
  "production": {
    "host": {
      "address": "127.0.0.1",
      "port": 4000
    },
    "publicUrl": "https://openrct2.org",
    "database": {
      "host": "localhost",
      "socket": "/var/lib/mysql/mysql.sock"
    }
  }
}