$primary-color: #71ABED;
$primary-dark-color: #5A89BE;
$nav-item-color: white;

/**Main**/
//Content headers
$header-h1-bg-color: $primary-dark-color;
$header-h1-text-color: white;
$header-h1-text-size: 18px;
$header-h2-bg-color: #F3F5F6;
$header-h2-text-color: black;
$header-h2-text-size: 16px;
$header-h3-bg-color: #F3F5F6;
$header-h3-text-color: black;
$header-h3-text-size: 16px;
$body-text-color: #272A34;
$body-link-color: #5A89BE;
$body-link-hover-color: #4171A4;

/**Footer**/
$footer-text-color: grey;
$footer-text-size: 12px;