$primary-color: #71ABED;
$primary-dark-color: #5A89BE;
$nav-item-color: white;

/**Content Headers**/
//h1
$header-h1-bg-color: $primary-dark-color;
$header-h1-text-color: white;
$header-h1-text-size: 18px;

//h2
$header-h2-bg-color: #F3F5F6;
$header-h2-text-color: black;
$header-h2-text-size: 16px;

//h3
$header-h3-bg-color: #F3F5F6;
$header-h3-text-color: black;
$header-h3-text-size: 16px;