@import 'variables';

main.downloads {
  div.branchSelection {
    &.flex {
      display: flex;
      justify-content: space-between;
    }

    > a {
      box-sizing: border-box;
      border: 1px solid $header-h2-bg-color;
      text-decoration: none;
      width: calc(50% - 5px);

      &:hover {
        border-color: $header-h1-bg-color;

        > h2 {
          background-color: $header-h1-bg-color;
          color: $header-h1-text-color;
        }

        > p.buttonContainer > button {
          background-color: $header-h1-bg-color;
          color: white;
        }
      }

      > h2 {
        margin-top: 0;
      }

      > p {
        padding: 0 10px;

        &, > button {
          text-align: center;
        }
      }

      > p.buttonContainer {
        > span {
          display: block;
          font-size: 0.8em;
        }

        > button {
          display: block;
          cursor: pointer;
          border: 1px solid $header-h1-bg-color;
          background-color: transparent;
          border-radius: 5px;
          padding: 10px 20px;
          margin: 0 auto;
          line-height: 1.2;
          color: $header-h1-bg-color;
          font-weight: bold;
        }
      }
    }

  }
}