@import 'variables';
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

html, body {
  height: 100%;
}

body {
  font-family: 'PT Sans', sans-serif;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

main,
nav,
footer > div {
  width: calc(100% - 20px);
  max-width: 936px;
  margin: 0 auto 0 auto;
}

header {
  background-color: $primary-color;
  width: 100%;

  > nav {
    //align-items: center;
    display: flex;
    flex-wrap: wrap;

    > a, > span {
      display: flex;
      align-items: center;

      &.brand {
        padding: 3px 0;
        &, > img {
          $logo-size: 64px;
          width: $logo-size;
          height: $logo-size;
        }
      }

      //      box-sizing: content-box;

      &:not(.brand) {
        align-self: stretch;
      }
      color: $nav-item-color;
      margin-left: 12px;

      &:first-child {
        margin-left: 0;
      }

      &.separator {
        height: 26px;
        width: 2px;
        background-color: $nav-item-color;
        align-self: center;
      }
    }

    > a {
      border-bottom: 2px solid transparent;
      text-decoration: none;

      &:hover {
        border-bottom-color: $nav-item-color;
      }
    }
  }
}

main {
  flex: 1 1 auto;
}

footer {
  margin: 15px auto 15px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $footer-text-size;

  > * {
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }

  .separator {
    height: calc(#{$footer-text-size} + 4px);
    width: 1px;
    background-color: $footer-text-color;
    align-self: center;
  }

  > a, > span {
    color: $footer-text-color;
  }
}