@import 'variables';

main {
  &.flex {
    @media only screen and (min-width: 760px) {
      display: flex;
      justify-content: space-between;

      > section {
        width: calc(70% - 20px);
      }

      > aside {
        width: 30%;
      }
    }
  }

  h1, h2, h3 {
    margin: 6px 0;
    font-weight: 300;
    padding: 12px 15px;

    &.important {
      background-color: $header-important-bg-color;
      color: $header-important-text-color;
    }
  }

  h1, h2.h1, h3.h1 {
    &, a {
      background-color: $header-h1-bg-color;
      color: $header-h1-text-color;
      font-size: $header-h1-text-size;
      font-weight: 600;
    }
  }

  h2 {
    &, a {
      background-color: $header-h2-bg-color;
      color: $header-h2-text-color;
      font-size: $header-h2-text-size;
    }
  }

  h3 {
    &, a {
      background-color: $header-h3-bg-color;
      color: $header-h3-text-color;
      font-size: $header-h3-text-size;
    }
  }

  p, ul {
    line-height: 1.5;
  }

  p {
    text-align: justify;
  }

  color: $body-text-color;

  a {
    color: $body-link-color;

    &:hover {
      color: $body-link-hover-color;
    }
  }

  .textCenter {
    text-align: center;
  }

  pre {
    display: inline;
    font-size: inherit;
  }
}