<footer>
    <span>&copy; ${(new Date()).getFullYear()} OpenRCT2.org</span>
    <span class="separator"></span>
    <a href="mailto:mail@openrct2.org">Email webmaster</a>
    <span class="separator"></span>
    <a href="https://github.com/Limetric/OpenRCT2.org" target="_blank">Fork website on GitHub</a>
</footer>