<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content=`${data.page && data.page.description ? data.page.description : out.global.site.description}`>
    <meta property="og:image" content=`${out.global.site.publicUrl}/assets/images/logos/icon_x512.png`>
    <meta property="og:title" content=`${data.page && data.page.title ? out.global.site.title +' '+ data.page.title : out.global.site.title}`>
    <meta property="og:description" content=`${data.page && data.page.description ? data.page.description : out.global.site.description}`>
    <meta property="og:type" content="website">
    <meta property="og:url" content=`${out.global.site.publicUrl + data.page.path}`>
    <meta property="og:site_name" content=out.global.site.title>
    <meta property="og:locale" content="en_GB">
    <meta name="theme-color" content="#71ABED">
    <title>${data.page && data.page.title ? (data.page.overrideTitle ? data.page.title : data.page.title +' - '+ out.global.site.title) : out.global.site.title}</title>
    <link rel="stylesheet" href=`/resources/${out.global.resources.cssBundle}`>
    <link rel="shortcut icon" href="/assets/images/logos/icon_x32.png">
    <!--Google Analytics-->
    <if(typeof(out.global.site.googleAnalyticsTrackingId) === 'string')>
        <script async src=`https://www.googletagmanager.com/gtag/js?id=${out.global.site.googleAnalyticsTrackingId}`></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', '${out.global.site.googleAnalyticsTrackingId}', {'anonymize_ip': true});
        </script>
    </if>
</head>
<body>
    <app-header current="index" />
    <if(input.body)>
        <${input.body}/>
    </if>
    <else>
        <main role="main" class="container">
            <p>No content available.</p>
        </main>
    </else>
    <app-footer />
    <script async src=`/resources/${out.global.resources.jsBundle}`></script>
</body>
</html>